span {
  font-family: sans-serif;
}

label {
  font-family: sans-serif;
  font-size: x-small;
  display: contents;
  cursor: pointer;
}

input {
  border-radius: 3px;
}

h2 {
  font-family: sans-serif;
  align-self: center;
}

div {
  background-color: rgb(214, 234, 246);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: auto;
  gap: 5px;
}

.textGroup {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

button {
  background-color: rgb(214, 234, 246);
  text-align: center;
  width: 100px;
  align-self: center;
  margin: 5px;
  border-radius: 3px;
}

button:hover:not(.active) {
  background-color: rgb(186, 220, 241);
  cursor: pointer;
}
