.compStyle {
  background-color: rgb(214, 234, 246);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: auto;
  gap: 5px;
  border-radius: 10px;
}

.compStyle label {
  font-size: x-small;
  display: contents;
  cursor: pointer;
}

.compStyle input {
  border-radius: 3px;
}

.compStyle h2 {
  align-self: center;
}

.compStyle .textGroup {
  display: flex;
  align-self: center;
  flex-direction: row;
  gap: 5px;
}

.compStyle button {
  background-color: rgb(214, 234, 246);
  text-align: center;
  width: 100px;
  align-self: center;
  margin: 5px;
  border-radius: 3px;
}

.compStyle button:hover:not(.active) {
  background-color: rgb(186, 220, 241);
  cursor: pointer;
}

.compStyle table {
  border: 1px solid black;
  border-radius: 3px;
}
